<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
  <meta name="keywords" content="闪闪微星, 嵌入式, Microstar, Embedded, Software, Sharing" />
  {% endif %}
  <link rel='icon' href='{{site.url_root}}/img/favicon.ico'/>
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.url_root}}/img/apple-touch-icon-120x120.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{site.url_root}}/img/apple-touch-icon-120x120.png">
  <link rel="stylesheet" type="text/css" href="https://dn-microstar.qbox.me/fonts/ubuntu_font.css" />
  <link rel="stylesheet" type="text/css" href="https://dn-microstar.qbox.me/fonts/ubuntu_font_ttf.css" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
